body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    font-family: 'Segoe UI', sans-serif;
    margin: 0; 
}
  
.card {
    border-radius: 12px;
    transition: transform 0.2s ease;
    max-height: 350px;      
    overflow-y: auto;        
}
  
.card:hover {
    transform: scale(1.03);
}

.card-img-top {
    width: 100%;
    height: 200px;         
    object-fit: cover;    
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#map-container {
    width: 100vw;
    height: 100vh; 
    margin: 0;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
    flex: 1;
}
  
#map {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    border-radius: 0; 
}
  
footer {
    width: 100%;
    background-color: #f8f9fa; 
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: auto; 
    position: static;
}
.carousel-control-prev,
.carousel-control-next {
    opacity: 0 !important;
    pointer-events: none;
}
